/* Agrega estilos de Bootstrap o enlace a tu archivo CSS de Bootstrap aquí si aún no lo has hecho */

/* Estilos generales del menú */
.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-item {
    margin-right: 10px;
  }
  
  /* Estilos específicos de las opciones del menú */
  .menu-item a {
    text-decoration: none;
    color: #495057;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .menu-item a:hover {
    background-color: #f8f9fa;
  }
  
  /* Estilos específicos para la opción activa */
  .menu-item.active a {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .page-item {
    margin-right: 5px;
  }
  
  .page-link {
    text-decoration: none;
    color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s;
  }
  
  .page-link:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  