<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Administración de Usuarios</h2>
            <ul class="menu">
                <!-- <li class="menu-item">
                    <a href="#" class="active">Crear</a>
                </li>
                <li class="menu-item">
                    <a href="#">Editar</a>
                </li>
                <li class="menu-item">
                    <a href="#">Eliminar</a>
                </li> -->
                <li class="menu-item" (click)="onClickLogout()">
                    <a href="#">Cerrar Sesión</a>
                </li>
            </ul>

            <div *ngFor="let user of users">
                {{ user.nombre }} - {{ user.nombreUsuario }} - {{ user.email }}
            </div>

            <div *ngIf="totalPages > 1">
                <nav>
                    <ul class="pagination">
                        <li class="page-item" *ngFor="let page of totalPagesArray()">
                            <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>